h1 {
  text-align: center;
  font-family: arialnarrow, arial, sans serif;
}

.canvas {
  background: steelblue;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.land {
  fill: darkgreen;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 0.45px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
